extends baseEmail

block content
  // Container for responsive layout
  div(style="background-color: #f0f8ff; padding: 20px; border-radius: 10px; font-family: 'Arial', sans-serif; max-width: 600px; margin: 0;")

    // Greeting
    p(style="font-size: 16px; font-weight: normal; text-align: left; color: #004080; margin-bottom: 20px;") Hi #{firstName},

    // Information about password reset
    p(style="font-size: 16px; font-weight: normal; text-align: left; color: #004080; margin-bottom: 20px;")
      | You have requested to reset your password for your #{process.env.SITE_NAME} account. To proceed with the password reset:

    p(style="font-size: 16px; font-weight: normal; text-align: center; color: #004080; margin-bottom: 20px;")
      | Please enter the following verification code:

    // Verification code
    p(style="font-size: 28px; font-weight: bold; text-align: center; color: #004080; margin-bottom: 20px;")
      | #{url}

    // Additional information
    p(style="font-size: 14px; font-weight: normal; text-align: left; color: #333; margin-bottom: 20px;")
      | If you did not request a password reset, please ignore this email, and your password will remain unchanged.

    p(style="font-size: 14px; font-weight: normal; text-align: left; color: #333; margin-bottom: 20px;")
      | For security reasons, this password reset link will expire in 20 minutes.

    // Support contact information
    p(style="font-size: 14px; font-weight: normal; text-align: left; color: #333; margin-bottom: 20px;")
      | Thank you for choosing #{process.env.SITE_NAME}! If you encounter any issues or need further assistance, please don't hesitate to contact us at  
      a(href=`mailto:${process.env.EMAIL_ACCOUNT}`, style="text-decoration: none; color: #004080; font-weight: bold;")
        | #{process.env.EMAIL_ACCOUNT}

    // Closing statement
    p(style="font-size: 14px; font-weight: normal; text-align: left; color: #333; margin-bottom: 15px;")
      | Best regards,

    // Footer
    p(style="font-size: 12px; text-align: center; color: #888; margin-top: 40px;")
      | © #{new Date().getFullYear()} #{process.env.SITE_NAME}. All rights reserved.
