extends baseEmail

block content
  // Banner Image
  div(style="text-align: center; margin-bottom: 20px;")
    img(src="https://i.ibb.co/YP3qVfV/86fa140217b7.jpg", alt="Banner Image", style="width: 100%; max-width: 600px; border-radius: 10px; height: 250px;")

  // Logo and site name
  div(style="text-align: center; margin-bottom: 20px;")
    img(src=`${process.env.APP_LOGO}`, alt= `${process.env.SITE_NAME} Logo`, style="height: 50px; border-radius: 50%; vertical-align: middle;")
    span(style="font-family: 'Georgia', serif; font-size: 24px; font-weight: bold; vertical-align: middle; color: #333; margin-left: 10px;")
      | #{process.env.SITE_NAME}

  // Welcome message
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #333;")
    | Dear #{firstName}, 

  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center; color: #333;")
    | Welcome to #{process.env.SITE_NAME}! We're excited to have you dive into a world of stories, spanning across genres and styles.

  // Call to action button
  div(style="text-align: center; margin: 20px 0;")
    a(href=`${process.env.FRONTEND_BASEURL}/explore-books`, target="_blank", style="border: solid 1px #005f99; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #004080; border-color: #004080; color: #ffffff;")
      | Explore Novels

  // Additional information
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center; color: #333;")
    | At #{process.env.SITE_NAME}, we offer a variety of novels tailored to your literary taste. Whether you’re into mystery, romance, sci-fi, or historical fiction, there’s a story waiting for you.

  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center; color: #333;")
    | Here's what you can expect from your #{process.env.SITE_NAME} experience:

  // Feature list
  ul(style="list-style-type: disc; margin: 0 0 0 20px; font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; text-align: left; color: #333;")
    li(style="margin: 0; margin-bottom: 10px;")
      | Curated Novels: A handpicked collection of novels from various genres.
    li(style="margin: 0; margin-bottom: 10px;")
      | Personalized Recommendations: Discover books based on your reading preferences.
    li(style="margin: 0; margin-bottom: 10px;")
      | Interactive Reading Experience: Engage with other readers, leave reviews, and join discussions.
    li(style="margin: 0; margin-bottom: 10px;")
      | Seamless Offline Reading: Download novels and enjoy them offline, anytime, anywhere.
    li(style="margin: 0; margin-bottom: 10px;")
      | Exclusive Content: Access exclusive stories and early releases.

  // Sign-in prompt
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 15px 0; text-align: center; color: #333;")
    | To get started, simply 
    a(href=`${process.env.FRONTEND_BASEURL}/signIn`, style="text-decoration: none; color: #005f99;")
      | log in 
    | to your #{process.env.SITE_NAME} account and immerse yourself in a captivating reading journey.

  // Closing and contact information
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 15px 0; text-align: center; color: #333;")
    | Thank you for choosing #{process.env.SITE_NAME}. If you have any questions or need assistance, please contact us at 
    a(href=`mailto:${process.env.EMAIL_ACCOUNT}`, style="text-decoration: none; color: #005f99;")
      | #{process.env.EMAIL_ACCOUNT}
    |.

  // Signature
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; text-align: center; color: #333;")
    | Best regards,
  p(style="font-family: 'Georgia', serif; font-size: 16px; font-weight: normal; margin: 0; text-align: center; color: #333;")
    | The #{process.env.SITE_NAME} Team
